<div class="container">
    <p>{{"contact.intro" | translate}}</p>

    <div class="page-header">
        <h1>Paul</h1>
    </div>
    <p>{{"contact.Paul.desc" | translate}}</p>
    <p>{{"contact.Paul.email" | translate}}<a href="mailto:polenbato@orange.fr?subject=S'Wing">{{"general.there" | translate}}</a>.</p>

    <div class="page-header">
        <h1>Fred</h1>
    </div>
    <p>
        {{"contact.Fred.desc" | translate}}
         <a href="#/images">{{ "contact.Fred.pictures" | translate}}</a>
        {{"contact.Fred.available" | translate}}
    </p>
    <p>{{"contact.Fred.email" | translate}}<a href="mailto:fwifred@hotmail.fr?subject=S'Wing">{{"general.here" | translate}}</a>.</p>

    <div class="page-header">
        <h1>Chloé</h1>
    </div>
    <p>{{"contact.Chloe.desc" | translate}}</p>
    <p>{{"contact.Chloe.email" | translate}}<a href="mailto:sunshai_sun971@hotmail.com?subject=S'Wing">{{"general.here" | translate}}</a>.</p>
</div>
