<div class="container">
    <p>
        Notre projet vous intéresse ? Vous avez une question à propos de la S'Wing ? Pour toute information supplémentaire,
        ou afin de discuter avec l'un des inventeurs, n'hésitez pas à nous contacter par mail dès maintenant !
    </p>

    <div class="page-header">
        <h1>Paul</h1>
    </div>
    <p>
        Paul, le grand-père, est travaille sur la partie théorique de l'invention. Responsable des nombreux calculs,
        il a déposé les brevets pour la S'Wing.
    </p>
    <p>Si vous souhaitez contacter Paul, cliquez <a href="mailto:polenbato@orange.fr?subject=S'Wing">là</a>.</p>

    <div class="page-header">
        <h1>Fred</h1>
    </div>
    <p>
        Fred, le père, s'occupe de la mise en pratique des calculs. Il réalise la construction, puis les tests des différents
        prototypes de la S'Wing. Des <a href="#/images">photos et vidés</a> sont diponibles.
    </p>
    <p>Pour envoyer un mail à Fred, cliquez <a href="mailto:fwifred@hotmail.fr?subject=S'Wing">ici</a>.</p>

    <div class="page-header">
        <h1>Chloé</h1>
    </div>
    <p>Chloé, la fille, a réalisé le site web de S'Wing afin de présenter cette invention.</p>
    <p>Pour écrire à Chloé, c'est <a href="mailto:sunshai_sun971@hotmail.com?subject=S'Wing">ici</a>.</p>
</div>
