<div class="container">
    <div class="page-header">
        <h1>{{"description.presentation.title" | translate}}</h1>
    </div>
    <p>{{"description.presentation.current_desc" | translate}}</p>
    <p>{{"description.presentation.current_drawbacks" | translate}}</p>
    <p>{{"description.presentation.current_compression" | translate}}</p>
    <p>{{"description.presentation.current_spi" | translate}}</p>
    <p>
        {{"description.presentation.swing_advantages" | translate}}<br/>
        {{"description.presentation.swing_advantage_desc" | translate}}
    </p>
    <p>{{"description.presentation.swing_fixation" | translate}}</p>
    <p>{{"description.presentation.swing_sail" | translate}}</p>
    <p>{{"description.presentation.swing_wind" | translate}}</p>
    <p>{{"description.presentation.swing_gybe" | translate}}<a href="#gybe">{{"general.here" | translate}}</a>.</p>

    <div class="page-header">
        <h1>{{"description.application.title" | translate}}</h1>
    </div>
    <p>
        {{"description.application.use" | translate}}<br />
        {{"description.application.figures" | translate}}
    </p>
    <p><img class="img-responsive" src="images/theorie/page3.jpg" alt="Schéma S'Wing applications" /></p>

    <div class="page-header">
        <h1>{{"description.advantages.title" | translate}}</h1>
    </div>
    <div class="row">
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>S'Wing</th>
                        <th>{{"description.advantages.table.thead" | translate}}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{{"description.advantages.table.tr1.td1" | translate}}</td>
                        <td>{{"description.advantages.table.tr1.td2" | translate}}</td>
                        <td>{{"description.advantages.table.tr1.td3" | translate}}</td>
                    </tr>

                    <tr>
                        <td>{{"description.advantages.table.tr2.td1" | translate}}</td>
                        <td>{{"description.advantages.table.tr2.td2" | translate}}</td>
                        <td>{{"description.advantages.table.tr2.td3" | translate}}</td>
                    </tr>

                    <tr>
                        <td>{{"description.advantages.table.tr3.td1" | translate}}</td>
                        <td>{{"description.advantages.table.tr3.td2" | translate}}</td>
                        <td>{{"description.advantages.table.tr3.td3" | translate}}</td>
                    </tr>

                    <tr>
                        <td>{{"description.advantages.table.tr4.td1" | translate}}</td>
                        <td>{{"description.advantages.table.tr4.td2" | translate}}</td>
                        <td>{{"description.advantages.table.tr4.td3" | translate}}</td>
                    </tr>

                    <tr>
                        <td>{{"description.advantages.table.tr5.td1" | translate}}</td>
                        <td>{{"description.advantages.table.tr5.td2" | translate}}</td>
                        <td>{{"description.advantages.table.tr5.td3" | translate}}</td>
                    </tr>

                    <tr>
                        <td>{{"description.advantages.table.tr6.td1" | translate}}</td>
                        <td>{{"description.advantages.table.tr6.td2" | translate}}</td>
                        <td>{{"description.advantages.table.tr6.td3" | translate}}</td>
                    </tr>

                    <tr>
                        <td>{{"description.advantages.table.tr7.td1" | translate}}</td>
                        <td>{{"description.advantages.table.tr7.td2" | translate}}</td>
                        <td>{{"description.advantages.table.tr7.td3" | translate}}</td>
                    </tr>

                    <tr>
                        <td>{{"description.advantages.table.tr8.td1" | translate}}</td>
                        <td>{{"description.advantages.table.tr8.td2" | translate}}</td>
                        <td>{{"description.advantages.table.tr8.td3" | translate}}</td>
                    </tr>

                    <tr>
                        <td>{{"description.advantages.table.tr9.td1" | translate}}</td>
                        <td>{{"description.advantages.table.tr9.td2" | translate}}</td>
                        <td>{{"description.advantages.table.tr9.td3" | translate}}</td>
                    </tr>

                    <tr>
                        <td>{{"description.advantages.table.tr10.td1" | translate}}</td>
                        <td>{{"description.advantages.table.tr10.td2" | translate}}</td>
                        <td>{{"description.advantages.table.tr10.td3" | translate}}</td>
                    </tr>

                    <tr>
                        <td>{{"description.advantages.table.tr11.td1" | translate}}</td>
                        <td>{{"description.advantages.table.tr11.td2" | translate}}</td>
                        <td>{{"description.advantages.table.tr11.td3" | translate}}</td>
                    </tr>

                    <tr>
                        <td>{{"description.advantages.table.tr12.td1" | translate}}</td>
                        <td>{{"description.advantages.table.tr12.td2" | translate}}</td>
                        <td>{{"description.advantages.table.tr12.td3" | translate}}</td>
                    </tr>

                    <tr>
                        <td>{{"description.advantages.table.tr13.td1" | translate}}</td>
                        <td>{{"description.advantages.table.tr13.td2" | translate}}</td>
                        <td>{{"description.advantages.table.tr13.td3" | translate}}</td>
                    </tr>

                    <tr>
                        <td>{{"description.advantages.table.tr14.td1" | translate}}</td>
                        <td>{{"description.advantages.table.tr14.td2" | translate}}</td>
                        <td>{{"description.advantages.table.tr14.td3" | translate}}</td>
                    </tr>

                    <tr>
                        <td>{{"description.advantages.table.tr15.td1" | translate}}</td>
                        <td>{{"description.advantages.table.tr15.td2" | translate}}</td>
                        <td>{{"description.advantages.table.tr15.td3" | translate}}</td>
                    </tr>

                    <tr>
                        <td>{{"description.advantages.table.tr16.td1" | translate}}</td>
                        <td>{{"description.advantages.table.tr16.td2" | translate}}</td>
                        <td>{{"description.advantages.table.tr16.td3" | translate}}</td>
                    </tr>

                    <tr>
                        <td>{{"description.advantages.table.tr17.td1" | translate}}</td>
                        <td>{{"description.advantages.table.tr17.td2" | translate}}</td>
                        <td>{{"description.advantages.table.tr17.td3" | translate}}</td>
                    </tr>

                    <tr>
                        <td>{{"description.advantages.table.tr18.td1" | translate}}</td>
                        <td>{{"description.advantages.table.tr18.td2" | translate}}</td>
                        <td>{{"description.advantages.table.tr18.td3" | translate}}</td>
                    </tr>

                    <tr>
                        <td>{{"description.advantages.table.tr19.td1" | translate}}</td>
                        <td>{{"description.advantages.table.tr19.td2" | translate}}</td>
                        <td>{{"description.advantages.table.tr19.td3" | translate}}</td>
                    </tr>

                    <tr>
                        <td>{{"description.advantages.table.tr20.td1" | translate}}</td>
                        <td>{{"description.advantages.table.tr20.td2" | translate}}</td>
                        <td>{{"description.advantages.table.tr20.td3" | translate}}</td>
                    </tr>

                    <tr>
                        <td>{{"description.advantages.table.tr21.td1" | translate}}</td>
                        <td>{{"description.advantages.table.tr21.td2" | translate}}</td>
                        <td>{{"description.advantages.table.tr21.td3" | translate}}</td>
                    </tr>

                    <tr>
                        <td>{{"description.advantages.table.tr22.td1" | translate}}</td>
                        <td>{{"description.advantages.table.tr22.td2" | translate}}</td>
                        <td>{{"description.advantages.table.tr22.td3" | translate}}</td>
                    </tr>

                    <tr>
                        <td>{{"description.advantages.table.tr23.td1" | translate}}</td>
                        <td>{{"description.advantages.table.tr23.td2" | translate}}</td>
                        <td>{{"description.advantages.table.tr23.td3" | translate}}</td>
                    </tr>

                    <tr>
                        <td>{{"description.advantages.table.tr24.td1" | translate}}</td>
                        <td>{{"description.advantages.table.tr24.td2" | translate}}</td>
                        <td>{{"description.advantages.table.tr24.td3" | translate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="page-header">
        <h1>{{"description.modelisation.title" | translate}}</h1>
    </div>
    <p><img class="img-responsive" src="images/theorie/p_111205_!_1_x.png" alt="Schéma S'Wing sur structure à flotteurs annexes" /></p>
    <p><img class="img-responsive" src="images/theorie/110927_2_pav_skipper.jpg" alt="Schéma S'Wing version aérienne" /></p>

    <div id="gybe" class="page-header">
        <h1>{{"description.gybe" | translate}}</h1>
    </div>
    <p><img class="img-responsive" src="images/theorie/120215_$_empan.png" alt="Schéma empannage" /></p>
</div>
