<div class="container">
    <img class="img-responsive img-radius" src="images/home/home.jpg" alt="S'Wing" />

    <div class="row">
        <div class="col-sm-8">
            <div class="page-header">
                <h1>{{"home.imagine.title" | translate}}</h1>
            </div>
            <p>
                {{"home.imagine.desc_sail" | translate}}<br />
                {{"home.imagine.desc_heel" | translate}}<br />
                {{"home.imagine.desc_crush" | translate}}
            </p>
        </div>

        <div class="col-sm-3 col-sm-offset-1 sidebar-module">
            <p>
                <h4>{{"home.sidebar.title" | translate}}</h4>
                <p>
                    {{"home.sidebar.Paul" | translate}}<br />
                    {{"home.sidebar.FG" | translate}}<br />
                    {{"home.sidebar.CAF" | translate}}
                </p>
            </p>
        </div>
    </div>

    <br />
    <h3>{{"home.exists.title" | translate}}</h3>

    <p>{{"home.exists.desc" | translate}}</p>
    <p>{{"home.exists.add" | translate}}<br/>{{"home.exists.other" | translate}}</p>

    <div class="page-header">
        <h1>{{"home.principle" | translate}}</h1>
    </div>
    <p class="video-center">
        <video width="600" controls="">
            <source src="images/home/imaginez.mp4"></source>
            <source src="images/home/imaginez.webmhd.webm"></source>
            <source src="images/home/imaginez.oggtheora.ogv"></source>
        <video/>
    </p>
</div>
