<div class="container">
    <div class="page-header">
        <h1>Vidéos</h1>
    </div>

    <div ng-controller="videosController">
        <div ng-include="filePath"></div>

        <p>Cliquer sur l'aperçu d'une vidéo pour la regarder !</p>

        <div id="videos">
            <div ng-repeat="video in videos">

                <div class="row">
                    <div class="col-md-4">
                        <img ng-src="images/videos/{{video.link}}.png" ng-click="showVideo(video.link)" class="img-thumbnail">
                    </div>

                    <div class="col-md-8 panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{video.title}}</h3>
                        </div>
                        <div class="panel-body">{{video.legend}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-header">
        <h1>Photos</h1>
    </div>
    <div id="carousel" ng-controller="carouselController">
        <uib-carousel interval="interval" no-wrap="noWrapSlides">
            <uib-slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}">
                <div class="carousel-caption">
                    <h4>Image {{$index + 1}}</h4>
                    <p>{{slide.text}}</p>
                </div>
            </uib-slide>
        </uib-carousel>
    </div>
</div>
