<div class="container">
    <div class="page-header">
        <h1>Vidéos</h1>
    </div>

    <div id="videos" ng-controller="videosController">
        <uib-carousel interval="interval" no-wrap="noWrapSlides">
            <uib-slide ng-repeat="video in videos" active="video.active">
                <h3>{{video.title}}</h3><br />
                <video controls>
                    <source src="{{video.linkmp4}}" type="video/mp4">
                    <source src="{{video.linkwebm}}" type="video/webm">
                    <source src="{{video.linkoggtheora}}" type="video/oggtheora">
                    Your browser does not support the video tag.
                </video>
                <p><em>{{video.legend}}</em></p>
            </uib-slide>
        </uib-carousel>
    </div>

    <div class="page-header">
        <h1>Photos</h1>
    </div>

    <div id="carousel" ng-controller="picturesController">
        <uib-carousel interval="interval" no-wrap="noWrapSlides">
            <uib-slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}">
                <div class="carousel-caption">
                    <h4>Image {{$index + 1}}</h4>
                    <p>{{slide.text}}</p>
                </div>
            </uib-slide>
        </uib-carousel>
    </div>
</div>
