<div class="container">
    <div class="page-header">
        <h1>{{"triul.previous.title" | translate}}</h1>
    </div>
    <p>{{"triul.previous.intro" | translate}}</p>
    <p>{{"triul.previous.desc" | translate}}</p>

    <div class="page-header">
        <h1>{{"triul.theory" | translate}}</h1>
    </div>
    <p><img class="img-responsive" src="images/triul/Sit_Triul.png" alt="Théorie et prototype du Triul" /></p>

    <div class="page-header">
        <h1>{{"triul.video" | translate}}</h1>
    </div>
    <p class="video-center">
        <video width="600" controls="">
            <source src="images/triul/video_triul.mp4"></source>
            <source src="images/triul/video_triul.webm"></source>
            <source src="images/triul/video_triul.oggtheora.ogv"></source>
        <video/>
    </p>

    <div class="page-header">
        <h1>{{"triul.publishing" | translate}}</h1>
    </div>
    <p><img class="img-responsive" src="images/triul/Sit_publications.png" alt="Publications Triul" /></p>

    <div class="page-header">
        <h1>{{"triul.patent.title" | translate}}</h1>
    </div>
    <p><img class="img-responsive" src="images/triul/Sit_Brev.png" alt="Brevet Triul" /></p>
    <p>
        {{"triul.patent.desc" | translate}}<br />
        {{"triul.patent.documents" | translate}}
        <a href="images/triul/Triul_7_(S._Geneve).jpg">{{"general.here" | translate}}</a> {{"general.or" | translate}} <a href="images/triul/Triul_6_Pct.jpg">{{"general.there" | translate}}</a>.
    </p>
</div>
